Package: [[name]]
Version: [[version]]
Section: utils
Priority: optional
Architecture: all
Depends: default-jre | openjdk-21-jre-headless
Maintainer: Andrii Pyrih <andrii.pyrih@gmail.com>
Description: [[description]]
